body, * {
    font-family: 'Segoe UI';
}

body {
    background-color: rgb(248, 249, 250);
}

.toolbar {
    background-color: #3367d6;
    color: white;
    min-height: 56px;
    z-index: 2;
    align-items: center;
    direction: ltr;
    display: flex;
    font-size: 13px;
    width: 100%;
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;
    -webkit-box-shadow: 0px 5px 14px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 14px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 14px -5px rgba(0,0,0,0.75);
}

.toolbar-textbox {
    background-color: #2850a7;
    color: white;
    border-style: none;
    height: 24px;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
}

.sidenav {
    z-index: 1000;
    background-color: white;
    display: flex;
    flex-flow: column;
    width: 220px;
    position: fixed;
    left: 0;
    top: 0;
    -webkit-box-shadow: 3px 0px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 0px 10px -1px rgba(0,0,0,0.75);
    box-shadow: 3px 0px 10px -1px rgba(0,0,0,0.75);
    height: 100%;
}

.sidenav-item {
    padding: 5px;
    text-align: center;
    color: #606060;
    font-weight: 600;
}

.sidenav-item:hover {
    background-color: #eee;
    cursor: pointer;
}

.sidenav-item:active {
    background-color: #ddd;
}

.fadeIn {
    opacity: 0;
    -moz-transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    transition: opacity 1.5s;
}

.sidenav-overlay {
    background-color: rgba(80, 80, 80, 0.60);
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
}

.tb-container {
    height: 40px;
    border-style: none;
    background-color: #2850a7;
}

.fullwidth {
    width: 100%;
}

.toolbar-textbox:focus {
    outline-style: none;
}

.row {
    display: flex;
    flex-flow: row;
    width: 100%;
}

.col-10 {
    width: 83%;
}

.col-9 {
    width: 75%;
}


.col-8 {
    width: 67%;
}

.col-6 {
    width: 50%;
}

.col-3 {
    width: 25%;
}

.col-8 {
    width: 67%;
}

.col-4 {
    width: 33%;
}

.col-2 {
    width: 17%;
}

.container {
    width: 100%;
    display: flex;
}

.centered {
    justify-content: center;
}

.left-aligned {
    justify-content: left;
}

.card {
    border-radius: 4px;
    background-color: white;
    color: black;
    width: 400px;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
    padding: 7px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 81.25%;
}

.card-section {
    width: 100%;
    border-bottom: 1px solid #eee;
}

.btn-primary {
    background-color: #1a73e8;
    border: none;
    border-radius: 4px;
    color: white;
    flex-shrink: 0;
    font-weight: 500;
    height: 32px;
    margin: 0;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
    padding-top: 6px;
}

.btn-primary:hover {
    -webkit-box-shadow: 0px 2px 8px 0px rgba(66,137,230,1);
    -moz-box-shadow: 0px 2px 8px 0px rgba(66,137,230,1);
    box-shadow: 0px 2px 8px 0px rgba(66,137,230,1);
}

.btn-primary:active {
    outline-style: none;
    background-color: #4289e6;
}

.btn-outline {
    background-color: white;
    border: 1px solid rgb(218, 220, 224);
    border-radius: 4px;
    color: #1a73e8;
    flex-shrink: 0;
    font-weight: 500;
    height: 32px;
    margin: 0;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
    padding-top: 6px;
}

.btn-outline:hover {
    background-color: #f8faff;
}

.btn-outline:focus {
    outline-style: none;
}

.btn-outline:active {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.30), 
    0 3px 6px 2px rgba(60, 64, 67, 0.15);
}

.txt-underlined {
    background-color: rgb(241, 243, 244);
    border: none;
    box-sizing: border-box;
    color: rgb(32, 33, 36);
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
    padding-bottom: 8px;
    padding-inline-end: 8px;
    padding-inline-start: 8px;
    padding-top: 6px;
    text-align: inherit;
    text-overflow: ellipsis;
    width: 100%;
    border-radius: 3px;
}

.txt-underlined:focus {
    border-bottom: 2px solid #1a73e8;
}

.alert-error {
    color: red;
}